<h1 class="text-center my-5">Grafic</h1>

<div class= "container-fluid">


<div class= "container">
    
    <h3 class= "my-5 text-center"> Bookmarks order by type</h3>
    
    
    <p><span class= "verticaltext">Cantidad</span> <%= column_chart @relations %></p>
    <p class= "my-5 text-center"> type_id</p>
</div>
</div>